*{
    background-color: rgb(46, 46, 46);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: 50px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px;
}
 h1{
    font-family:  Brush Script MT ;
    font-size: 50px;
    color: white;
    background-color: rgb(66, 66, 66);
 }

 span{
    color: rgb(233, 31, 31);
    background-color: rgb(66, 66, 66);
 }


.nav2{
    display: flex;
    background-color: rgb(66, 66, 66);
    
}

li{
    margin: 30px;
    list-style: none;
    background-color: rgb(66, 66, 66);
   
}

a{
    text-decoration: none;
    color: beige;
    background-color: rgb(66, 66, 66);
    font-size: 20px;
}

.corpo{
    margin-top: 130px;
    display: flex;
}

img{
    border-radius: 20px;
    margin-left: 50px;
    box-shadow: 0px 0px 60px 0px rgb(216, 63, 63);
    position: relative;
    animation: flutuar 1s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


.texto, .texto2{
    background-color: rgb(80, 76, 76);
    justify-content: center;
    width: 400px;
    height: 280px;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 5px;
   text-align: justify;
}

.texto3{
    background-color: rgb(80, 76, 76);
    justify-content: center;
    width: 830px;
    height: 100px;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    margin-top: -100px;
    margin-left: 425px;
    text-align: justify;
}

.pr{
    font-size: 20px;
}

.pt{
    font-size: 15px;
}
h2{
    color: rgb(216, 63, 63);
    font-size: 30px;
    background-color: rgb(80, 76, 76);
}

p{
    color: rgb(189, 187, 187) ;
    font-size: 17px;
    background-color: rgb(80, 76, 76);
   
}